<div class="mainColumn">
	<div class="row">
	    <div class="col-md-6">
	        <h2>Devoxx</h2>
	        <div class="row">
		        <a class="col-md-4"  href="http://www.devoxx.fr/" target="_blank" title="Devoxx France (nouvelle fenêtre, lien externe)">
		       	 <img class="img-responsive" src="/images/devoxx.jpg" alt="Devoxx France" />
		        </a>
			    <p class="col-md-8">
					La conférence de référence de l'écosystème Java, Devoxx, a débarqué en France et a fait un véritable carton depuis 2012 !        
		        </p>
	        </div>
	    </div>
	    <div class="col-md-6">
	        <h2>Jalios News</h2>
	        <div class="row">
		        <a class="col-md-4"  href="http://community.jalios.com/jcms/jc_84222/fr/jcms-8-sp2" target="_blank" title="JCMS 8 SP2 (nouvelle fenêtre, lien externe)">
		        	<img class="img-responsive" src="/images/jcms.jpg" alt="JCMS 8 SP2">
		        </a>
			    <p class="col-md-8">
				Le service pack 2 de JCMS 8 est désormais disponible sur le site de Jalios !        
		        </p>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-md-6">
	        <h2>Interview</h2>
	        <div class="row">
		        <a class="col-md-4"  href="http://thierry-leriche-dessirier.developpez.com/articles/interview/charles-sabourdin-Benoit-dissert-devoxx-france-2013/" target="_blank" title="Developpez (nouvelle fenêtre, lien externe)" >
		       	 <img class="img-responsive" src="/images/logoDeveloppezCom.png" alt="Developpez.com">
		        </a>
			    <p class="col-md-8">
					La rédaction de Développez.com a voulu m'interviewer sur l'organisation de Devoxx France.       
		        </p>
	        </div>
	    </div>
	    <div class="col-md-6">
	        <h2>Services</h2>
	        <div class="row">
		        <a class="col-md-4"  href="/services"><img class="img-responsive" src="/images/coffeeService.png" alt="Offre de Service"></a>
			    <p class="col-md-8">
					Vous avez besoin d'une expertise technique avancée sur Jalios JCMS, ou une montée en compétence en interne ? 
					Veuillez consulter la section <a href="/services" role="button">Offre de services</a>. Ces services recouvrent par exemple :
					de la formation JCMS personnalisée, avec ou sans accompagnement, en complément de la formation Jalios;
	    			des expertises techniques sur les réalisations avec JCMS;
	    			du conseil personnalisé.
		        </p>
	   			
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-md-6">
	        <h2>Quelques ressources utiles !</h2>
	        <div class="row">
		        <a class="col-md-4"  href="/ressources" ><img class="img-responsive" src="/images/lorem.png" alt="Ressources"></a>
			    <p class="col-md-8">
					Vous trouverez ici les liens vers les sites de Jalios, quelques articles que j'ai rédigé, et un outil pour faciliter le debuggage avec JCMS.       
		        </p>
	        </div>
	    </div>
	    <div class="col-md-6">
	        <h2>Besoin d'informations ?</h2>
	        <div class="row">
		        <a class="col-md-4"  href="/contact" ><img class="img-responsive" src="/images/mail.png" alt="Contact"></a>
			    <p class="col-md-8">
					N'hésitez pas à me contacter pour toutes demandes d'informations en suivant ce lien : <a href="/contact" role="button">Contactez moi </a>
		        </p>
	   			
	        </div>
	    </div>
	</div>
</div>